ul {
  list-style: none;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .grid {
    padding: 10px;
    background-color: #199EDA;
    text-align: center;
    color: white;
    margin: 15px;
    box-shadow: 3px 1px 1px rgba(0,0,0,0.3);
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

h1 {
  text-align: center;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input[name="answer"] {
    width: 40%;
    height: 25px;
    border-radius: 5px;
  }
  input[type="submit"] {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background-color: #199EDA;
    color: white;
    font-size: 15px;
  }
}

// .new{
//   width: 100%;
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   #newdiv {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//   }
//   #newdiv_ {
//     input[name="answer"] {
//       width: 100%;
//     }
//   }
// }
